@charset "UTF-8";

* {
    margin: 10pxx;
    padding: 10px;
}

html {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    line-height: 1.5em;
}

menu {
    display: none;
}

article::after {
    content: 'Esse artigo foi publicado pelo site www.dhjbvdvj.com';
}

article {
    width: 100%;
}