@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
background-image: linear-gradient(to left, #F1D8C9, #f2c3a7);
}
p{
    text-align: justify;
}
main{
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 2px #cea58ecb;
}
h1{
color: #F39209;
text-align: center;
text-shadow: 1px 1px 0 #cc7a08bb;
}
h2{
color: #125189 ;
}
    